<div class="flex justify-between items-end gap-1 overflow-hidden">
  <button mat-icon-button [matBadge]="item().order" matBadgePosition="below after" cdkDragHandle>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-form-field class="w-full">
    <textarea
      #itemInput
      type="text"
      class="transition-opacity ease-in duration-700"
      [class.!line-through]="itemMarked.value"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [value]="item().body"
      [formControl]="itemBody"
      [style.view-transition-name]="'inbox-' + item().id"
      [style.view-transition-class]="'inbox'"
    ></textarea>
  </mat-form-field>

  <button mat-flat-button (click)="setNextType()" longPress>
    <div class="flex justify-between items-center w-20">
      <div class="text-xs">{{ item().type }}</div>
      <mat-icon class="material-symbols-outlined pt-1">
        {{ item().type ? typeIcons[item().type!] : 'dangerous' }}
      </mat-icon>
    </div>
  </button>
</div>
