<div class="item-placeholder" *cdkDragPlaceholder></div>
<div class="flex justify-between items-end gap-1 overflow-hidden">
  <div cdkDragHandle class="flex-1 flex items-start">
    <mat-icon>drag_indicator</mat-icon>
  </div>

  <mat-form-field class="w-full">
    <textarea
      #itemInput
      type="text"
      class="transition-opacity ease-in duration-700"
      [class.!line-through]="itemMarked.value"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [value]="item().body"
      [formControl]="itemBody"
      [style.view-transition-name]="'inbox-' + item().id"
      [style.view-transition-class]="'inbox'"
    ></textarea>
  </mat-form-field>

  <button
    mat-flat-button
    longPress
    (click)="setNextType()"
    [maxTime]="1000"
    (onLongPressing)="onLongPressing($event)"
    (onReleasePressing)="goToNextActionDetail($event)"
  >
    <div class="flex justify-between items-center w-5">
      <div class="text-xs">{{ 'next-actions.type.' + item().type | translate }}</div>
    </div>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>alternate_email</mat-icon>
  </button>
</div>
<div class="flex flex-row gap-2 items-center pl-1 mt-1 h-4">
  @if (item().at) {
  <mat-chip class="!h-4 env-chip">
    {{ 'next-actions.at.' + item().at | translate }}
  </mat-chip>
  } @if (itemSelected() !== 0) {
  <div class="flex flex-row gap-2">
    <div>
      <mat-progress-spinner
        mode="determinate"
        [diameter]="15"
        [value]="itemSelected() / 8"
      ></mat-progress-spinner>
    </div>
    <div class="text-xs">{{ 'next-actions.btn.longpress' | translate }}</div>
  </div>
  }
</div>

<mat-menu #menu="matMenu">
  @for (item of environments | keyvalue; track $index) {
  <button
    mat-menu-item
    (click)="selectEnvironment(item.value)"
    role="menuitemradio"
  >
    {{ 'next-actions.at.' + item.value | translate }}
  </button>
  }
</mat-menu>
