<page-layout>
  <app-toolbar [menuBtn]="true" header="next-actions.toolbar"></app-toolbar>
  <div class="px-2 pt-2" [formGroup]="actionsFilter" header>
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-2 grow-0">
        <mat-button-toggle-group formControlName="type">
          <mat-button-toggle [value]="types.do"
            >{{ 'next-actions.type.'+ types.do | translate }}</mat-button-toggle
          >
          <mat-button-toggle [value]="types.wait"
            >{{ 'next-actions.type.'+ types.wait | translate }}</mat-button-toggle
          >
          <mat-button-toggle [value]="types.schedule"
            >{{ 'next-actions.type.'+ types.schedule | translate }}</mat-button-toggle
          >
        </mat-button-toggle-group>
        <button mat-stroked-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-symbols-outlined">tactic</mat-icon>
        </button>
      </div>
      <button mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <div [class.invisible]="!actionsFilter.value.project" class="flex items-center text-sm">
        <mat-icon class="colo">filter_alt</mat-icon>
        <span>{{ (selectedProjectName$ | async)?.name }}</span>
      </div>
    </div>
  </div>
  <div scrollable class="px-2">
    <app-actions-list [actions$]="actions$"></app-actions-list>
  </div>
  <div actions class="p-2">
    <button mat-stroked-button class="w-full">add</button>
  </div>
</page-layout>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="setProjectFilter(null)">{{ 'general.all' | translate }}</button>
  @for (project of projects; track $index) {
  <button mat-menu-item (click)="setProjectFilter(project.id)">{{ project.name }}</button>
  }
</mat-menu>
