<page-layout>
  <app-toolbar [backBtn]="true"></app-toolbar>
  <div class="p-2" scrollable>
    <mat-form-field class="flex-1">
      <mat-icon matIconPrefix class="material-symbols-outlined"> {{ icon }} </mat-icon>
      <textarea
        matInput
        type="text"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="to"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="flex-1">
      <mat-icon matIconPrefix>person</mat-icon>
      <input type="text" matInput formControlName="for" />
    </mat-form-field>
    @if (waitEvents && scheduleEvents) {
    <mat-calendar
      [dateClass]="dateClass"
      [selected]="action().wait?.by || null"
      (selectedChange)="calendarEvent($event)"
    ></mat-calendar>
    }
  </div>
  <div actions>actions</div>
</page-layout>

