<page-layout>
  <app-toolbar [backBtn]="true" header="waiting.toolbar"></app-toolbar>
  <div class="p-2 flex flex-col" scrollable>
    <mat-form-field class="flex-1 px-4">
      <mat-icon matIconPrefix>person</mat-icon>
      <input
        type="text"
        matInput
        formControlName="for"
        [placeholder]="'waiting.lbl.for' | translate"
      />
    </mat-form-field>
    <mat-form-field class="flex-1 px-4">
      <mat-icon matIconPrefix class="material-symbols-outlined"> {{ icon }} </mat-icon>
      <textarea
        matInput
        type="text"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="to"
        [placeholder]="'waiting.lbl.to' | translate"
      ></textarea>
    </mat-form-field>

    <mat-calendar
      [dateClass]="dateClass"
      [selected]="action().wait?.by || null"
      (selectedChange)="calendarEvent($event)"
      (monthSelected)="setGoogleCalendarEvents($event)"
    >
    </mat-calendar>
  </div>
  <div actions>actions</div>
</page-layout>
