<div class="flex flex-col justify-between h-full">
  <div class="overflow-scroll flex flex-col gap-6" cdkDropList (cdkDropListDropped)="reorder($event)">
    @for (item of nextActions$ | async; track item.id; let idx = $index) {
    <app-next-action-item [item]="item" [order]="idx" cdkDrag></app-next-action-item>
    }
  </div>

  <div>
    <button
      class="w-full"
      mat-stroked-button
      (click)="addNextAction()"
      [disabled]="anyItemIsInvalid$ | async"
    >
      {{ 'next-actions.btn.add' | translate }}
    </button>
  </div>
</div>
