<div class="flex items-end gap-1 overflow-hidden">
  <ng-content class="w-full"></ng-content>
  <mat-form-field class="flex-1">
    <mat-icon matIconPrefix class="material-symbols-outlined prefix">exercise</mat-icon>
    <textarea
      #itemInput
      type="text"
      class="transition-opacity ease-in duration-700"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      [value]="item().body"
      [formControl]="itemBody"
      [style.view-transition-name]="'action-' + item().id"
      [style.view-transition-class]="'action'"
    ></textarea>
  </mat-form-field>
</div>
<div class="flex flex-row items-start pl-1 mt-1 h-6 text-sm">
  <div class="btn-offset"></div>
  <div class="flex justify-between flex-1">
    <app-action-env-chip
      [class.invisible]="!item().at"
      [environment]="item().at!"
    ></app-action-env-chip>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mr-1">
      <mat-icon>alternate_email</mat-icon>
    </button>
  </div>
</div>

<mat-menu #menu="matMenu">
  @for (item of environments | keyvalue; track $index) {
  <button mat-menu-item (click)="onSelectEnvironment.emit(item.value)" role="menuitemradio">
    {{ 'next-actions.at.' + item.value | translate }}
  </button>
  }
</mat-menu>
