@import 'src/theme/variables.scss';

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    mat-sidenav {
      width: 50%;
    }

    #menu {
      padding-left: 10px;
      mat-icon {
        font-size: 1.2rem;
      }
    }

    mat-toolbar#page-toolbar {
      background-color: $primary-80;
    }
  }
}
