<ng-content select="app-toolbar"></ng-content>
<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav [fixedInViewport]="true">
    <mat-toolbar color="primary">
      <span>{{ 'sidenav.toolbar' | translate }}</span>
    </mat-toolbar>
    <div class="flex flex-col gap-2" id="menu">
      <div (click)="navigate('home')" class="flex items-center gap-1">
        <mat-icon>home</mat-icon>
        <div>{{ 'sidenav.menu.home' | translate }}</div>
      </div>
      <div (click)="navigate('inbox')" class="flex items-center gap-1">
        <mat-icon>inbox</mat-icon>
        <div>{{ 'sidenav.menu.inbox' | translate }}</div>
      </div>
      <div (click)="navigate('projects')" class="flex items-center gap-1">
        <mat-icon class="material-symbols-outlined">tactic</mat-icon>
        <div>{{ 'sidenav.menu.projects' | translate }}</div>
      </div>
      <div (click)="navigate('actions')" class="flex items-center gap-1">
        <mat-icon class="material-symbols-outlined">exercise</mat-icon>
        <div>{{ 'sidenav.menu.actions' | translate }}</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flex flex-col h-full">
      <div>
        <ng-content select="[header]"></ng-content>
      </div>
      <div class="flex-1 overflow-y-auto">
        <ng-content select="[scrollable]"></ng-content>
      </div>
      <div>
        <ng-content select="[actions]"></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
