<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar color="primary" id="sidenav-toolbar">
      <span>{{ 'sidenav.toolbar' | translate }}</span>
    </mat-toolbar>
    <div class="flex flex-col gap-2" id="menu">
      <div (click)="navigate('home')" class="flex items-center gap-1">
        <mat-icon>home</mat-icon>
        <div>{{ 'sidenav.menu.home' | translate }}</div>
      </div>
      <div (click)="navigate('inbox')" class="flex items-center gap-1">
        <mat-icon>inbox</mat-icon>
        <div>{{ 'sidenav.menu.inbox' | translate }}</div>
      </div>
      <div (click)="navigate('projects')" class="flex items-center gap-1">
        <mat-icon class="material-symbols-outlined">tactic</mat-icon>
        <div>{{ 'sidenav.menu.projects' | translate }}</div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if(settings()?.toolbar) {
    <mat-toolbar id="page-toolbar" color="primary" class="flex justify-between flex-1">
      @if (settings()?.showSidenavBtn) {
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Open sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      } @if (settings()?.showBackBtn) {
      <button mat-icon-button [routerLink]="settings()?.backBtnRoute">
        <mat-icon>arrow_back</mat-icon>
      </button>
      }
      <div>{{ settings()?.toolbarHeader || '' | translate }}</div>
      <img
        class="rounded-full h-5/6"
        [src]="user()?.photoURL"
        alt="User profile img"
        [routerLink]="['user']"
      />
    </mat-toolbar>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
