<div class="flex flex-col h-full">
  <div class="flex flex-col flex-grow gap-5 overflow-hidden">
    <div class="flex justify-between items-center mb-4 p-2">
      <div
        [style.view-transition-name]="'inbox-' + item.id"
        [style.view-transition-class]="'inbox'"
        class="text-2xl"
      >
        {{ item.body }}
      </div>
      <button mat-stroked-button (click)="markAsComplete()">
        {{ 'inbox-choice.complete' | translate }}
      </button>
    </div>
    <div class="flex items-start justify-between">
      <div>{{ 'inbox-choice.project?' | translate }}</div>
      <mat-form-field appearance="outline" class="mt-1">
        <mat-select
          [value]="item.project"
          (selectionChange)="assingProjectToItemAndActions($event)"
        >
          <mat-option [value]="null">{{ 'general.no' | translate }}</mat-option>
          @for (project of projects$ | async; track $index) {
          <mat-option [value]="project.id">{{ project.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex items-center justify-between">
      <div>{{ 'inbox-choice.actionable?' | translate }}</div>
      <div>
        <mat-button-toggle-group
          (valueChange)="saveItemState($event)"
          #actionable="matButtonToggleGroup"
          [value]="item.actionable"
        >
          <mat-button-toggle [value]="true">{{ 'general.yes' | translate }}</mat-button-toggle>
          <mat-button-toggle [value]="false">{{ 'general.no' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="flex flex-col flex-grow overflow-y-auto">
      @if (actionable.value === true) {
      <app-inbox-actions-list
        class=""
        [inboxItem]="item"
        [projectId]="selectedProject"
      ></app-inbox-actions-list>
      } @if (actionable.value === false) {
      <div class="w-full flex justify-around">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>timer</mat-icon></button>
        <button mat-icon-button><mat-icon>book</mat-icon></button>
      </div>
      }
    </div>
  </div>
</div>
